<div *ngIf="groupId2">

<div class="container" >
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#addProductDiv">Lisää tuote</button>

<div id="addProductDiv" class="collapse out">
<form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="newProductName">Tuotteen nimi:</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" id="newProductName" (keyup)="onAddProductNameKeyUp($event)" >
          </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label" for="newProductDescription">Kuvaus:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="newProductDescription" (keyup)="onAddProductDescriptionKeyUp($event)">
                </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label" for="newProductQuantity">Kuvaus:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="newProductQuantity" (keyup)="onAddProductQuantityKeyUp($event)">
                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newProductUnitOfMeasure">Kuvaus:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="newProductUnitOfMeasure" (keyup)="onAddProductUnitOfMeasureKeyUp($event)">
            </div>
        </div>
       <div class="form-group">
            <label class="col-sm-2 control-label" for="newProductEntery_Date">Kuvaus:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="newProductEntery_Date" (keyup)="onAddProductEntery_DateKeyUp($event)">
            </div>
       </div>
       <div class="form-group">
            <label class="col-sm-2 control-label" for="newProductExpire">Parasta ennen:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="newProductExpire" (keyup)="onAddProductExpireKeyUp($event)">
            </div>
       </div>  
       
       <div class="form-group">
            <label class="col-sm-2 control-label" for="newProductPerson_Name">Kuvaus:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="newProductPerson_Name" (keyup)="onAddProductPerson_NameKeyUp($event)">
            </div>
    </div>
               
        <div class="form-group">        
                <div class="col-sm-2">
                <button type="submit" class="btn btn-default" (click)="submitProduct()">Lähetä tiedot</button>
                </div>
        </div>
    </form>

</div>
</div>
</div>


<!--
 

<div class="container" *ngIf="groupId2">
        
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#addProductDiv">Lisää tuote</button>
                <div id="addProductDiv" class="collapse out">
                    <form class="form-horizontal" name="myForm"  action="#" onsubmit="required()">        
                        <table class="form-group">
        
                            <tr class="col-sm-10">
        
                                <td> Tuotteen nimi: </td>
        
                                <td><input type="text" class="form-control" name ="newProductName"/></td>
        
                            </tr>
        
                            <tr class="col-sm-10">
        
                                    <td> Kuvaus: </td>
        
                                    <td><input type="text" class="form-control" name ="newProductDescription"/></td>
        
                                </tr>
        
                                <tr class="col-sm-2">
        
                                <td><input type="submit" class="btn btn-default" id="submit" value= "Submit" /></td>
        
                            </tr>                          
        
         
        
                        </table>
        
                    </form>
        
         
        
                </div>
        
            </div>
        
            <script>
        
                function required() {
        
                    if( document.myForm.newProductName.value == "" )
        
                    {
        
                       alert( "Please provide product name!" );
        
                       document.myForm.Name.focus() ;
        
                       return false;
        
                    }
        
                    if( document.myForm.newProductDescription.value == "" )
        
                    {
        
                       alert( "Please provide Description!" );
        
                       document.myForm.Name.focus() ;s
        
                       return false;
        
                    }
        
                    else {
        
                        alert('Code has accepted ');
        
                        return true;
        
                    }
        
                }
        
            </script>
        
        -->     